:root {
  --font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-familiy-sans-serif: "Merriweather Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
  scroll-behavior: smooth;
  --primary: #f4623a;
  --white: #fff;
  --black: #000;
  --gray: #6c757d;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-familiy-sans-serif);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
}

nav {
  font-family: var(--font-familiy-sans-serif);
  font-weight: 700;
  text-align: left;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  width: 100%;
  padding: 1rem 0;
}

nav a {
  text-decoration: none;
  color: var(--black);
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

nav li {
  list-style: none;
  padding: 0.75rem 0;
}

nav li a {
  color: var(--gray);
}

nav li a:hover {
  color: var(--primary);
}

section {
  padding: 8rem 0;
}

hr {
  max-width: 3.25rem;
  border: 0;
  border-top: 1px solid;
  margin: 1.5rem auto;
}

svg {
  width: 4em;
  height: 4em;
}

footer {
  font-size: 0.875em;
  padding: 3rem 0;
}

#portfolio {
  max-width: 1920px;
  margin: auto;
}

.grid {
  --grid-layout-gap: 1.5rem;
  --grid-item-size: 360px;

  display: grid;
  justify-content: center;
  gap: var(--grid-layout-gap);
  grid-template-columns: repeat(auto-fill, var(--grid-item-size));
  max-width: calc((2 * var(--grid-item-size) + var(--grid-layout-gap)));
  margin: auto;
}

.gallery {
  --grid-layout-gap: 1.5rem;
  --grid-column-count: 3;
  --grid-item--min-width: 300px;

  /**
    * Calculated values.
    */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

.gallery img {
  max-width: 100%;
  height: auto;
  content-visibility: auto;
}

#services svg {
  fill: var(--primary);
}

#contact svg {
  fill: var(--gray);
}

.container {
  margin: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    gap: 1.5rem;
  }

  header {
    padding-top: 85px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .grid {
    --grid-item-size: 250px;

    max-width: calc((4 * var(--grid-item-size) + 3 * var(--grid-layout-gap)));
  }
}
